<div class="restaurant-status-book">
    <div *ngIf="!restaurant.isReservationOpen" class="restaurant-status-text">Booking is disabled</div>
    <div *ngIf="restaurant.isReservationOpen" class="book-container">
        <button mat-fab extended color="primary" (click)="makeBooking()">
            <mat-icon>book</mat-icon>
            Make booking
        </button>
    </div>
</div>
<div class="restaurant-status-queue">
    <div *ngIf="!restaurant.isQueueOpen" class="restaurant-status-text">Queue is disabled</div>
    <div *ngIf="restaurant.isQueueOpen" class="queue-container">
        <button mat-fab extended color="primary" (click)="takeQueue()">
            <mat-icon>queue</mat-icon>
            Take a queue
        </button>
    </div>
</div>