<div class="take-queue-restaurant-name">
    {{data.name}}
</div>
<div class="take-queue-content">
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Company Size</mat-label>
                <input matInput class="app-input" placeholder="Write your company size" type="text"
                [(ngModel)]="queue.companySize" name="companySizeInput">
            </mat-form-field>
        </form>
    </div>
    <div class="info-wrapper">
        <div>Estimated time</div>
        <div>People in queue: 5</div>
    </div>
    <div class="take-queue-buttons">
        <app-button buttonText="Ok" (click)="onOkClick()"></app-button>
        <app-button buttonText="Cancel" (click)="onCancelClick()"></app-button>
    </div>
</div>