<div class="make-booking-restaurant-name">
    {{data.name}}
</div>
<div class="make-booking-content">
    <div class="pickers-wrapper">
        <div class="form-group">
            <div class="form-date-picker">
                <igx-date-picker #datePicker name="date-picker" [(ngModel)]="booking.dateAndTime">
                    <label igxLabel>Date</label>
                </igx-date-picker>
            </div>
            <div class="form-time-picker">
                <igx-time-picker name="time-picker" [(ngModel)]="booking.dateAndTime" [disabled]="datePicker.value ? false : true">
                    <label igxLabel>Time</label>
                </igx-time-picker>
            </div>
        </div>
        <p class="text">
            Selected date: {{ date? date.toLocaleString() : null }}
        </p>
    </div>
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Details</mat-label>
                <input matInput class="app-input" [(ngModel)]="booking.description" placeholder="Write your wishes here" type="text"
                name="description">
            </mat-form-field>
        </form>
    </div>
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Company size</mat-label>
                <input matInput class="app-input" [(ngModel)]="booking.companySize" placeholder="Write your company size here" type="number"
                name="companySize">
            </mat-form-field>
        </form>
    </div>
    <div class="make-booking-buttons">
        <app-button buttonText="Ok" (click)="onOkClick()"></app-button>
        <app-button buttonText="Cancel" (click)="onCancelClick()"></app-button>
    </div>
</div>