:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-menu-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.add-menu-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}