:host{
    width: 80%
}

.update-restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: white;
    padding: 1em;
}

.input-groups{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.app-input-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.update-restaurant-buttons{
    display: flex;
    justify-content: center;
    gap: 1em;
}