<div class="retaurant-reviews-container">
    <div class="chart-container">
        <div class="reviews-details">
            <div>
                <b>Overall</b>
            </div>
            <div>
                <b>{{average}}</b>
            </div>
        </div>
        <div class="chart-details">
            <canvas id="MyChart">{{ chart }}</canvas>
        </div>
    </div>
    <div class="reviews-container">
        <div class="restaurant-status-book">
            <button mat-fab extended color="primary" (click)="openReviews()">
                <mat-icon>list_alt</mat-icon>
                Read reviews
            </button>
        </div>
        <div class="restaurant-status-queue">
            <button mat-fab extended color="primary" (click)="makeReview()">
                <mat-icon>rate_review</mat-icon>
                Make a review
            </button>
        </div>
    </div>
</div>