<div class="update-reservation-restaurant-name">
    <h5>Restaurant name</h5>
</div>
<div class="update-reservation-content">
    <div class="details-input-text">
        <div class="form-group">
            <div class="form-date-picker">
                <igx-date-picker #datePicker name="date-picker" [(ngModel)]="dateAndTime">
                    <label igxLabel>Date</label>
                </igx-date-picker>
            </div>
            <div class="form-time-picker">
                <igx-time-picker name="time-picker" [(ngModel)]="dateAndTime" [disabled]="datePicker.value ? false : true">
                    <label igxLabel>Time</label>
                </igx-time-picker>
            </div>
        </div>
    </div>
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Name</mat-label>
                <input matInput class="app-input" placeholder="Write your wishes here" type="text"
                [(ngModel)] = "name" name="nameInput">
            </mat-form-field>
        </form>
    </div>
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Description</mat-label>
                <input matInput class="app-input" placeholder="Write your wishes here" type="text"
                [(ngModel)] = "description" name="descriptionInput">
            </mat-form-field>
        </form>
    </div>
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Company size</mat-label>
                <input matInput class="app-input" placeholder="Write your wishes here" type="text"
                [(ngModel)] = "companySize" name="companySizeInput">
            </mat-form-field>
        </form>
    </div>
    <div class="update-reservation-buttons">
        <app-button buttonText="Ok" (click)="onOkClick()"></app-button>
        <app-button buttonText="Cancel" (click)="onCancelClick()"></app-button>
    </div>
</div>