:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
}

.table-container{
    width: 95%;
    height: 120px;
    overflow: auto;
    background-color: white;
}

.header-container{
    height: 30%;
}

