<div>
    <mat-toolbar class="mat-toolbar-container">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>exit_to_app</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="onClientReservationsClick()">
            <mat-icon>book</mat-icon>
        </button>
        <span>
            <img src="../../../assets/Pictures/logo.png" alt="Icon" class="logo-icon">
        </span>       
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
            (click)="onClientQueueClick()">
            <mat-icon>people</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
            (click)="onHelpClick()">
            <mat-icon>help</mat-icon>
        </button>
    </mat-toolbar>
</div>