.gmap-wrapper {
    flex: 1; /* Забезпечуємо, щоб обгортка карт займала увесь доступний простір по ширині */
    height: 100%; /* Встановлюємо висоту на 100% від батьківського контейнера */
    min-width: 30%;
    
}