.row {
    --backgroundColor: #e7e7e7;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    gap: 1em;
    padding: 1em;
    font-size: 1em;
    font-weight: lighter;
    border-radius: 0.5em;
    background-color: var(--backgroundColor);
    color: white;
}


.auth {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100vh;
}

.logo-icon {
    color: white;
    width: 7em;
    height: 7em;
}

.app-button{
    width: 50%
}