<div class="add-dish-restaurant-name">
    <h5>Restaurant name</h5>
</div>
<div class="add-dish-content">
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Menu Id</mat-label>
                <input matInput class="app-input" placeholder="Write your wishes here" type="text"
                [(ngModel)] = "menuId" name="menuIdInput" (change)="onValueChangedd()">
            </mat-form-field>
        </form>
    </div>
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Dish Name</mat-label>
                <input matInput class="app-input" placeholder="Write your wishes here" type="text"
                [(ngModel)] = "name" name="nameInput" (change)="onValueChangedd()">
            </mat-form-field>
        </form>
    </div>
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Photo Url</mat-label>
                <input matInput class="app-input" placeholder="Write your wishes here" type="text"
                [(ngModel)] = "photoUrl" name="photoUrlInput" (change)="onValueChangedd()">
            </mat-form-field>
        </form>
    </div>
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Details</mat-label>
                <input matInput class="app-input" placeholder="Write your wishes here" type="text"
                [(ngModel)] = "description" name="descriptionInput" (change)="onValueChangedd()">
            </mat-form-field>
        </form>
    </div>
    <div class="details-input-text">
        <form class="app-input-form">
            <mat-form-field class="app-input-full-width">
                <mat-label class="app-input-label">Price</mat-label>
                <input matInput class="app-input" placeholder="Write your company size here" type="text"
                [(ngModel)] = "price" name="priceInput" (change)="onValueChangedd()">
            </mat-form-field>
        </form>
    </div>
    <div class="add-dish-buttons">
        <app-button buttonText="Ok" (click)="onOkClick()"></app-button>
        <app-button buttonText="Cancel" (click)="onCancelClick()"></app-button>
    </div>
</div>