<div>
    <p>
        <mat-toolbar class="mat-toolbar-container">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>exit_to_app</mat-icon>
            </button>
            <span>
                <img src="../../../assets/Pictures/logo.png" alt="Icon" class="logo-icon">
            </span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-toolbar>
    </p>
</div>
<div class="restaurant-settings-class">
    <h4 class="example-h2">Restaurant queues/bookings</h4>
    <section class="restaurant-checkbox-section mat-elevation-z8">
        <mat-checkbox class="bookings" [(ngModel)]="restaurant.isReservationOpen" (click)="updateIsBookingOpen()">Bookings enabled</mat-checkbox>
        <mat-checkbox class="queues" [(ngModel)]="restaurant.isQueueOpen" (click)="updateIsQueueOpen()">Queues enabled</mat-checkbox>
    </section>
    <app-restaurant-settings>   </app-restaurant-settings>
</div>

<div class="restaurant-queue-class">
    <restaurant-queue [restaurantId]="this.restaurant.id" [tableTitle]="'Queue'" [dataToDisplay]="queues">
    </restaurant-queue>
</div>
<div class="restaurant-booking-class">
    <div class="restaurant-booking-title">
        <h4>Bookings</h4>
    </div>
    <div class="restaurant-booking-request-class">
        <restaurant-booking-request [tableTitle]="'Booking requests'" [dataToDisplay]="reservationsRequest">
        </restaurant-booking-request>
    </div>
    <div class="restaurant-booking-current-class">
        <restaurant-booking [tableTitle]="'Current bookings'" [dataToDisplay]="reservationsCurrent">
        </restaurant-booking>
    </div>
    <div class="restaurant-booking-history-class">
        <restaurant-booking-history [tableTitle]="'Bookings history'" [dataToDisplay]="reservationsHistory">
        </restaurant-booking-history>
    </div>
</div>
<div class="restaurant-menu-class">
    <restaurant-menu [tableTitle]="'Menus'" [dataToDisplay]="menus" [restaurant]="this.restaurant">
    </restaurant-menu>
</div>
<div class="restaurant-dish-class">
    <restaurant-dish [tableTitle]="'Dishes'" [dataToDisplay]="dishes">
    </restaurant-dish>
</div>