<h4>{{tableTitle}}</h4>
<table mat-table [dataSource]="dataToDisplay" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Dish Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{element.price}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="photoUrl">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let element">
            <img [src]="element.photoUrl" alt="{{element.dishName}}" width="100" height="100">
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>