.mat-column-dishName {
    width: 15%;
    min-width: 10%;
}
.mat-column-description {
    width: 60%;
    min-width: 30%;
}

.mat-column-price {
    width: 10%;
    min-width: auto;
}

.mat-column-photoUrl {
    width: 15%;
    min-width: auto;
}