<div class="main-container">
    <background-container class="restaurantImage" [backgroundColor]="'center/cover url('+ restaurant.image +')'">
        <button mat-button color="primary" class="buttonToRestaurant" (click)="goToPage('details-page', restaurant.id)"></button>
    </background-container>
    
    <div class="info-container">
        <div class="main-info">
            <div>{{restaurant.name}}</div>
            <div>Rating: <b>{{restaurant.rating}}</b></div>
            <div>Open: {{restaurant.openingTime.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'})}} 
                Closed: {{restaurant.closingTime.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'})}}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="about-info" style="word-wrap: break-word">
            {{restaurant.about}}
        </div>
    </div>

    <div class="buttons-container">
        <restaurant-status [restaurant]="restaurant" class="details-restaurant-status">
        </restaurant-status>
    </div>
</div>