.app-input-form *{
    min-width: 10%;
    max-width: 100%;
    width: 25vh;
    min-height: 5.4vh;
}

.app-input {
    min-height: 1vh;
    width: fit-content;
    font-size: 3em;
    color: white;
}

.app-input-label {
    font-size: 1.175em;
}

.example-full-width {
    width: 5vh;
}
