
.image-container-class {
    width: 79vw;
    height: 25vh; /* Встановлюємо висоту div, але ви можете використовувати будь-яке значення */
    background-size: cover;
    background-position: center;
}