<div class="header-container">
    <h4>{{tableTitle}}</h4>
</div>
<div class="table-container mat-elevation-z8 ">
    <table mat-table [dataSource]="dataToDisplay">
        <!-- Place Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Dish Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Company Size Column -->
        <ng-container matColumnDef="photoUrl">
            <th mat-header-cell *matHeaderCellDef>Photo</th>
            <td mat-cell *matCellDef="let element">
                <img [src]="element.photoUrl" alt="{{element.photoUrl}}" width="100" height="100">
            </td>
        </ng-container>

        <!-- Place Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <!-- Place Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button class="example-icon" aria-label="Edit" (click)="updateDish(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Delete" (click)="deleteDish(element.id)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="dish-button-class mat-elevation-z8 ">
    <button mat-fab extended color="primary" (click)="addDish()">
        <mat-icon>add_circle</mat-icon>
        Add dish
    </button>
</div>