<div class="restaurant-details">
    <div>Open: {{restaurant.openingTime.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'})}}
        Closed: {{restaurant.closingTime.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'})}}</div>
    <div class="about-info" style="word-wrap: break-word">
        {{restaurant.about}}
    </div>
    <div class="telephone-info" style="word-wrap: break-word">
        Telephone: {{restaurant.telephone}}
    </div>
    <div class="address-info" style="word-wrap: break-word">
        Address: {{restaurant.address}}
    </div>
</div>